body{
    font-size: 200%;

    margin: 20px;

    background-color: white;
    
}

#page{

    min-width: 1500px;
    max-width: 1830px;

    padding: 20px;                    /*padding for div tag*/

    border: 5px double black;       /*for double border*/
    background-color: rgb(237, 236, 236);
}

#navigation{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 2px solid;
    border-bottom: 2px solid;

    width: 55%;
    padding: 5px 15px 5px 15px; 

    margin: 0px auto 0px auto;

    text-align: center;
}

li{
    display: inline;
    margin: 0px 3px;
    list-style-type: none;
}

#para{  

    font-size: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 45%;

    margin:20px auto 20px auto;
    font-weight: normal;
}

a{
    margin: auto 20px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    color: red;
}
