#h1{
    border-style: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 100px;
}

#h2{
    border-style: dashed;
}

#h3{
    border-style: dotted;
}

#h4{
    border-style: double;
}

#h5{
    border-style: groove;
}

#h6{
    border-style: ridge;
}

#h7{
    border-style: inset;
}

#h8{
    border-style: outset;
}

#h9{
    border-style: none;
    /*If there is the border, it will remove it*/
}