h1 {
    border-style: solid;
    margin: 0px;
    border-color:purple;
}

.lines{
    border-bottom:3px solid red;
    border-top:3px solid yellow;
    border-left:4px dotted green;
    border-right:4px dotted blue;
}

p.brdr{
    /*declare the border with just solid*/
    border: solid;      
    border-width: 1px   4px     12px    4px;
        /*        top   right   bottom  left            */
}