body{
    background-color: rgb(66, 66, 66);
}

.box{
    width: 250px;
    height: 250px;
    background-color: red;

    font-size: 13em;
    text-align: center;
    position: relative;

    animation-name: slideLeft;
    animation-duration: 4s;
}

.box:hover{
    animation-iteration-count: 2;   

    animation-delay: 2s;
}

/*
    @keyframes anyName {....}
*/

@keyframes glow
{
    /*come*/
    from{
        transform: translateX(1000px)
    }    
}
